@import url('https://fonts.googleapis.com/css?family=Quicksand');
.header {
  text-align: center;
  color: black;
  position: relative;
}
.header h1 {
  font-size:4vw;
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  color: white;
  font-family: Arial;
}
img { 
  width: 100%;
  height: auto;
}
.header p {
  font-family: Courier New, monospace;
  font-size: 10px;
  position: absolute;
  top: 55%;
  width: 100%;
  text-align: center;
}
.navbar {
  overflow: hidden;
  background-color: #2098D1;
  color: white;
  font-family: Quicksand;
  position: relative;
  bottom: 10px;
}
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
 background-color: #2098D1;
  color: white;
  
}
.navbar a:hover {
  background-color: white;
  color: #5F9EA0;
}

.content-container {
  background-color: #F0FFFF;
  height: 400px;
  position: relative;
  bottom: 30px;
}

.content-container2 {
  background-color: #708090;
  height: 600px;
  position: relative;
  bottom: 30px;
}
.section h2 {
  text-align: center;
  position:relative;
  top: 70px;
}
.section p {
  text-align: center;
  position:relative;
  top: 70px;
}
